<!DOCTYPE html>
<html>
<head>
<% provide(:title, "About Me") %>
</head>

<body>
<h1>About Me</h1>
<p>The <a href="https://www.linkedin.com/in/sskumatov"><em>Linkedin page</em></a> is about Sergey M Skumatov</p>
</body>
</html>
