<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Contact") %>
</head>

<body>
<h1>Contact</h1>
<p>Test<a href="https://www.linkedin.com/in/sskumatov"><em> Contact Page</em></a></p>
</body>
</html>
